@import './Colors.scss';

input {
    margin-top: -.5px;
    margin-left: -1px;
}

input:focus {
    .todos__single {
        z-index: -1;
    }
}

.todos___heading {
    white-space: nowrap;
    font-weight: 600;
    font-size: 20px;
}

.remove {
    background-color: rgb(235, 103, 80)
}

.dragActive {
    background-color: rgb(0, 221, 236)
}

.dragComplete {
    background-color: rgb(235,38,0);
}

.drag {
    box-shadow: 0 0 20px $black;
}

